*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.body {
    background: yellow;
}
.navegacio{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
    text-align: center;
}
.navegacio ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color:#353535;
    text-decoration: none;
}
.menu li a:hover{
    color:#CE7D35;
    transition: all .3s;
}
.submenu{
    position: absolute;
    background: #333333;
    width: 110%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color:#fff;
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.titol {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    text-decoration: underline;
}
.imatges {
    float: right;
}
.taula {
    border: 3px red solid;
    border-top:7px dashed red;
    border-bottom:7px dotted red;
}
.color_fons {
    background-color:yellow;
}
